[submodule "source/cusadi"]
	path = source/cusadi
	url = https://github.com/StephenWelch/cusadi.git
	branch = feature/isaac_extension
[submodule "source/rsl_rl"]
	path = source/rsl_rl
	url = https://github.com/StephenWelch/rsl_rl.git
